annotated-doc==0.0.4
fastapi==0.129.0
numpy==2.3.5
python-multipart==0.0.22
setuptools==70.2.0
starlette==0.52.1
torch==2.10.0
torchaudio==2.10.0
torchvision==0.25.0
typing-inspection==0.4.2
uvicorn==0.40.0
